.jumbotron{
    background-image:
    url(https://upload.wikimedia.org/wikipedia/commons/6/61/Pokhara-valley-nepal.jpg);
    color:white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:50% 10%;
    height:50vh;
    /* vh: viewport height; */
}   